{% extends "includes/base.html" %}
{% block title%}Ana Sayfa{%endblock%} 
{% block body %}

<h2>Yapilan Gorevler:</h2>
{% if finished %}
<div class="row">
{% for task in finished %}
  <div class="column">
      <div class="card text-center">
        <div class="card-header" id="card_header_succes">Tamamlandi</div>
          <div class="card-body">
              <h5 class="card-title">{{task.title}}</h5>
              <p class="card-text">{{task.content}}</p>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">

              <a href="/task/{{task.id}}" class="btn btn-primary">Detay</a></div>
          </div>
      </div>
  </div>
  
{% endfor %}
{% else %}
yok
{% endif %}
    
<h2>Yapilmamis gorevler:</h2>
{% if not_doing %}
<div class="row">

{% for task in not_doing %}
  <div class="column">
      <div class="card text-center">
        <div class="card-header" id="card_header_warning">Tamamlanmadi</div>
          <div class="card-body">
              <h5 class="card-title">{{task.title}}</h5>
              <p class="card-text">{{task.content}}</p>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">

              <a href="/task/{{task.id}}  " class="btn btn-primary">Detay</a>
          </div>
        </div>
      </div>
  </div>
{% endfor %}
{% else %}
yok
{% endif %}
{% endblock body %}